#guests .select2-container-multi .select2-choices .select2-search-choice {
	padding-left: 20px;
}

#guests .select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
	display: inherit;
	top: 7px;
}

#guests .select2-container {
	width: calc(100% - 48px);
	margin-right: 0;
}

#guests .select2-container ul {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

#guests .whitelist {
	display: flex;
}

#guests #guestResetWhitelist {
	align-items: stretch;
	width: 32px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#guests .msg {
	font-size: 14px;
}

#guests .whitelist-toggle {
	margin: 1em 0;
}
