#app-guests .modal {
  box-sizing: border-box;
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  padding: 15px;
  color: #000;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(77, 77, 77, 0.75);
  font-size: 100%;
  min-width: 200px;
}
#app-guests .modal-title,
#app-guests .modal-body {
  margin-bottom: 30px;
}
#app-guests .modal .form-group {
  margin: 7.5px 0;
}
#app-guests .modal .form-label,
#app-guests .modal .form-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  transition: background 0.333s ease-out, border 0.333s ease-out;
}
#app-guests .modal .form-label._error,
#app-guests .modal .form-input._error {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.2);
  color: red;
}
#app-guests .modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  content: '';
  width: 100vw;
  height: 100vh;
  display: block;
}
#app-guests.-animate-to {
  opacity: 1;
}
#header .header-right > div > .icon-contacts.menutoggle {
  display: none;
}
