#app-guests .modal {
  box-sizing: border-box;
  position: absolute;
  z-index: 501;
  left: calc(50% -  250px );
  top: 20%;
  width: 500px;
  background: white;
  padding: 20px;
}
#app-guests .modal-title,
#app-guests .modal-body {
  margin-bottom: 40px;
}
#app-guests .modal .form-group {
  margin: 10px 0;
}
#app-guests .modal .form-label,
#app-guests .modal .form-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  transition: background 0.333s ease-out, border 0.333s ease-out;
}
#app-guests .modal .form-label._error,
#app-guests .modal .form-input._error {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.2);
  color: red;
}
#app-guests .modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  content: '';
  width: 100vw;
  height: 100vh;
  display: block;
}
#app-guests.-animate-to {
  opacity: 1;
}
