# SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
# SPDX-FileCopyrightText: 2017 ownCloud GmbH
# SPDX-License-Identifier: AGPL-3.0-only AND (AGPL-3.0-or-later OR AGPL-3.0-only)
/.idea
node_modules
dist/
build/
vendor/
clover.xml
js
.vscode
.php_cs.cache
.php-cs-fixer.cache
